* {
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-image: url(https://cdn.imgchest.com/files/g4z9cwlpm72.png); */
  background-repeat: no-repeat;
  max-width: 1278px;
  min-height: 1583px;
  font-size: 2rem;
  opacity: 1;
  color: purple;
  position: relative;
  margin: 0 auto;
}

.container > * {
  border: 2px dashed purple;
  margin: 1px;
}

.container {
  display: grid;
  grid-template-rows:
    38px
    120px
    62px
    428px
    915px;

  grid-template-columns: 270px 212px 463px 335px;

  grid-template-areas:
    "one one one one"
    "two six six six"
    "three three three three"
    "four four seven eight"
    "five five five eight";
}

/* GRID AREAS */
.box1 {
  grid-area: one;
}
.box2 {
  grid-area: two;
}
.box2 img {
  width: 100%;
  object-fit: contain;
  margin: 20px 0;
}

.box3 {
  grid-area: three;
  border: none !important;
  padding: 0;
}
.box4 {
  grid-area: four;
  background-color: #ffffff !important;
}
.box5 {
  grid-area: five;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-top: 15px;
}
.box6 {
  grid-area: six;
}
.box7 {
  grid-area: seven;
  background-color: #ffffff !important;
}
.box8 {
  grid-area: eight;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 25px;
}

.box8 img,
.box5 img {
  width: 100%;
  object-fit: contain;
  background-repeat: no-repeat;
  padding: 0 10px;
}

.box2,
.box4,
.box5,
.box6,
.box7,
.box8 {
  overflow: hidden;
  background-color: #f1f1f1;
}

.box4 img,
.box7 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.box3 .main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #007bb6;
  padding: 0 15px;
}

/* Список меню */
.box3 .menu-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.box3 .menu-list li {
  height: 100%;
  display: flex;
  align-items: center;
}

.box3 .menu-list a {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  padding: 0 15px;
  height: 100%;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
  font-weight: normal;

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.3px;
}

.box3 .menu-list a:hover {
  color: #e7e7e7;
}

.box3 .menu-list a b {
  font-weight: 600;
}

.box3 .search-box {
  width: 300px;
}

.box3 .search-form {
  display: flex;
  height: 36px;
}

.box3 .search-form input {
  flex-grow: 1;
  border: none;
  border-right: none;
  padding: 8px 12px;
  font-size: 14px;
  outline: none;
}

.box3 .search-form button {
  background-color: #f5f5f5;
  border: none;
  color: #999999;
  padding: 0 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
}

.action-buttons {
  display: flex;
  justify-content: end;
  padding-right: 10px;
  padding-top: 10px;
}
.action-buttons button {
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  font-size: 14px;
  padding: 0.1em 1em;
  border-radius: 6px;
  background: rgb(245, 245, 245) linear-gradient(#74f4f4, #f1f1f1);
  cursor: pointer;
  height: 27px;
}
.action-buttons button:nth-child(2) {
  background: rgb(245, 245, 245) linear-gradient(#f4f4f4, #f1f1f1);
}
.action-buttons button:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.ad-buttons {
  display: flex;
  justify-content: center;
  justify-content: start;
  height: 100%;
  gap: 10px;
}
.ad-buttons button {
  background: #ffffff;
  border: none;
  cursor: pointer;
  color: #999;
}
.ad-buttons button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
