.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 8px;
  min-height: 40vh;
}

.div1 {
  grid-column: span 2 / span 2;
}

.div2 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 5;
  grid-row-start: 1;
}

.div3 {
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-column-start: 1;
  grid-row-start: 2;
}

.div4 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 1;
}

.div5 {
  grid-column: span 2 / span 2;
  grid-column-start: 3;
  grid-row-start: 2;
}

.div6 {
  grid-column: span 4 / span 4;
  grid-column-start: 3;
  grid-row-start: 3;
}

.block {
  /* border: 2px dashed #fe6f6f; */
  background-color: rgba(2, 125, 125, 0.594);
  font-size: 72px;
}

@media (max-width: 600px) {
  .parent {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
  }

  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div6,
  .div7 {
    grid-column: span 2 / span 2;
    grid-row: auto;
  }
}
